
#Logging-Page {
  border-radius: 8px;
  border: 2em;
  padding: 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  text-align: center
}
h1{
  color: white;
}

*{
  background-color: slategray;
}

button {
  color:whitesmoke;
  background-color: darkcyan;
  font-weight: bold;

}