
#Logging-Page {
  border-radius: 8px;
  border: 2em;
  padding: 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  text-align: center
}
h1{
  color: black;
  text-justify: auto;
  text-shadow: 2px 4px 8px black;
}



button {
  color:whitesmoke;
  background-color: darkcyan;
  font-weight: bold;

}

tr {
  cursor: pointer;
}

#mainTable{
  color:whitesmoke;
  text-align: center;
  border-radius: 15px 50px 30px 5px;
  background: cadetblue;
  padding: 2em;
  width: auto;
  height: auto;
  box-shadow: 10px 10px 25px 8px grey;
}